body {
	background-color: #141414;
	font-family : "Arial", serif;
	font-size : 13px;

	max-width: 600px;
    margin: auto;
    margin-top: 100px

}


#buttons {
	margin:auto;
	padding: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

button {
	font-family: inherit;
}


.tick text {
	fill : #fff;
}

.axis {
	font-size: inherit;
}


.bttn-simple {
  margin: 0;
  padding: 0;
  outline: none;
  border-width: 0;
  border-color: transparent;
  background: transparent;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  font-size: 14px;
  font-family: inherit;
  padding: 5px 12px;
  overflow: hidden;
  border-width: 0;
  border-radius: 10px;
  background: rgba(255,255,255,0.08);
  color: #fff;
  -webkit-transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.bttn-simple:focus {
  background: rgba(255,99,99,0.5);
}

.bttn-simple:hover {
	opacity: 0.4;
}
